/* middle card end */
.middle-card-end{
    margin: 50px 150px;
    display: flex;
}
.middle-card-left-img{
    height:370px;
    width: 600px;
    margin-right: auto;
}
.middle-card-left-img img{
    height: 370px;
    padding-right: 80px;
}
.middle-card-right-text{
    justify-content: end;
    width: auto;
    padding-left: 80px;
    line-height: 25px;
    font-size: 18px;
    color: #616060;

}
.middle-card-right-text ul{
    margin-top: 0px;
}
.middle-card-right-text-title{
    color: #616060;
}

.middle-card-right-text li{
    color: #616060;
}
.middle-card-right-text-end-link{
    color: #009de0;
    display: block;
    font-size: 23px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 6px;
}

/* page end question */
.page-end-question{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 156px;
    margin:110px auto 0;
}
.page-end-question-title>h3{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-size: 45px;
    line-height: 50px;
    font-weight:900;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
}
.page-end-question-unde-button{
    background-color: #009de0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
}

/* body */
body{
    margin:0px;
}

/* footer */
.footer{
    background-color: rgb(20, 20, 20);
    padding: 104px 30px 30px;
    display: block;
}
.footer-box{
    width: 1400px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content:space-between;
}
.footer-box-up{
    display: flex;
    width: 1100px;
    justify-content:space-between;
    margin-bottom: 100px;

}
.footer-box-up-left{
    display: flex;
    flex-direction: column;
}
.Footer__StyledWoltLogo-sc-1ki6z7e-12{
    fill: rgb(255, 255, 255) !important;
    width: 80px;
}
.footer-box-up-left-applinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-box-up-left-applinks-appstore{
    border-radius: 3px;
    margin-top: 30px;
}
.footer-box-up-left-applinks-googleplay{
    margin-top: 15px;
    border-radius: 3px;
}
.footer-box-up-left-applinks-googleplay-img{
    height: 40px;
}
.footer-box-up-right{
    display: flex;
    justify-content: end;
}
.footer-box-up-right-nav{
    color: rgba(255, 255, 255, 0.72);
    margin-left: 40px;
    margin-right: 40px;
    line-height: 30px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Roboto,Open Sans,sans-serif;
}
.footer-box-up-right-nav-label{
    color: rgb(255, 255, 255);
    font-weight: 200;
}
.footer-box-up-right-nav-linkgroup ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer-box-up-right-nav-linkgroup-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-box-down{
    display: flex;
    justify-content:space-around;
    width: 1400px;
    align-items: center;
    
}
.footer-box-down-left{
    display: flex;
    justify-content: start;
}
.footer-box-down-left-button{
    margin-left: 10px;;
    margin-right: 10px;;
    padding: 0px ;
    border: 0px;
    display: flex;
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
}
.FooterSettingButton-icon{
    margin: 0px !important;
    padding: 0px !important;
    height: 15px;
    width: 15px;
    background-color: white;
}
.footer-box-down-left-button-location,.footer-box-down-left-button-earth,.footer-box-down-left-button-eye{
    margin: 0px 15px;
}
.footer-box-down-right{
    display: flex;
}
.footer-box-down-right a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-box-down-right-end{
    color: rgba(255, 255, 255, 0.72);
    margin-left: 30px;
}

/* hovers */
.page-end-question-unde-button:hover{
    background-color: #1fa9e4;
}
.footer-box-up-right-nav-linkgroup-link:hover,
.footer-box-down-left-button:hover,
.footer-box-down-right-link:hover{
    text-decoration: underline;
}