/* middle card end */
.middle-card-end{
    margin: 50px 150px;
    display: flex;
}
.middle-card-left-img{
    height:370px;
    width: 600px;
    margin-right: auto;
}
.middle-card-left-img img{
    height: 370px;
    padding-right: 80px;
}
.middle-card-right-text{
    justify-content: end;
    width: auto;
    padding-left: 80px;
    line-height: 25px;
    font-size: 18px;
    color: #616060;

}
.middle-card-right-text ul{
    margin-top: 0px;
}
.middle-card-right-text-title{
    color: #616060;
}

.middle-card-right-text li{
    color: #616060;
}
.middle-card-right-text-end-link{
    color: #009de0;
    display: block;
    font-size: 23px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 6px;
}

/* page end question */
.page-end-question{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 156px;
    margin:110px auto 0;
}
.page-end-question-title>h3{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-size: 45px;
    line-height: 50px;
    font-weight:900;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
}
.page-end-question-unde-button{
    background-color: #009de0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;

}