
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.__container {
    width: 1200px;
    margin: auto;
}

#__header {
    width: 100%;
    background-color: #fff;
    height: 70px;
}

.__nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.__nav img {
    width: 120px;
    height: 68px;
}

.nav__item__login span:hover{
    cursor: pointer;
}


.nav__item__login a{
    margin-right: 3rem;
    margin-left: 1rem;
    padding: 13px 16px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 157, 224);
    transition: all 0.3s;
}

.nav__item__login a:hover{
    background-color: rgb(2, 167, 238);
    transition: all 0.3s;
}

.nav__item__login{
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
    font-weight: bold;
}

.nav__item__login span{
    font-size: 0.9rem;
    font-weight: 500;
    color:rgb(32, 33, 37);
}


#intro__{
    display: flex;
    width: 100%;
    height: 640px;
    background-color: rgb(247, 240, 205);
    position: relative;
    overflow: hidden;
}

.intro__image{
    position: absolute;
    width: 1160px;
    height: 840px;
    right: 3%;
    top: 0;
    z-index: 0;
}

.intro__image img{
    width: 100%;
}


.intro__text {
    z-index: 1;
}


.intro__text p{
    font-size: 3.75rem;
    font-family:  WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;

    font-weight: 700;
}

.intro__text h3{
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;;
}

.intro__text div{
    margin-top: 1rem;
    position: relative;
}

.intro__text div input{
    border: 2px solid rgba(32, 33, 37, 0.12);
    width: 400px;
    padding: 15px 50px;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

/* .intro__text div input:focus{
    border-color: rgba(0 , 157 , 224);
} */

.intro__text input:hover{
    border-color: rgba(0 , 157 , 224);
    transition: border 0.3s;
}

.intro__text div i{
    position: absolute;
    left: 2%;
    top: 30%;
    font-size: 1.2rem;
}

.intro__text div a{
    margin-left: 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 157, 224);
    transition: all 0.3s;
    padding: 1rem 0.6rem;
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
    font-weight: bold;
    transition: all 0.3s;
}


.intro__text div a:hover{
    background-color: rgb(2, 167, 238);
    transition: all 0.3s;
}






.all--border{
    width: 85%;
    margin: auto;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}
.border--aze {
    display: flex;
    
    
    width: 19%;
    margin: 20px;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.title-- {
   
    border: 1px solid white;
    text-align: center;
    margin-right: 45%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img--aze {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text--aze {
    padding-right: 30%;
    font-size: large;
     
}

p:hover{
    color: rgb(49, 167, 252);
}

.a--a {
    font-size: large;
}






.middlecontent_content {

     width: 86%;
     margin-left: 80px;
     display: flex;
 }

 .middlecontent_content_delivered {
     width: 35%;
 }

 .middlecontent_content_delivered_h3 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 600;
     margin-left: 100px;
     padding-top: 120px;

 }

 .middlecontent_content_delivered_h2 {
     font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
     font-weight: 800;
     padding-top: 45px;
     font-size: 46px;
     -webkit-font-smoothing: antialiased;
     font-feature-settings: "kern", "ss01", "ss05", "ss07";
     margin-left: 100px;

 }



 .middlecontent_content_delivered_p {
     margin-left: 100px;
     width: 94%;
     color: #616060;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }



 .middlecontent_right_img {

     width: 52%;
 }

 .middlecontent_right_img_item {


     margin-left: 171px;



 }

 .middlecontent_content_delivered_text {
     display: flex;
     margin-top: 40px;
 }

 .PlayButton-module__playIcon___bd0jC {
     color: white !important;
     width: 60px;
     justify-content: center;
     align-items: center;
 }

 .middlecontent_content_delivered_text_icon {
     justify-content: start;
     width: 60px;
     background-color: #009de0;
     border-radius: 50%;
     margin-left: 99px;
     padding-left: 1px;
     display: flex;
     cursor: pointer;
 }

 .middlecontent_content_delivered_text span {
     justify-content: end;
     color: #009de0;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 30px;
     font-size: 20px;
 }

 .middlecontent_content_delivered_text_icon:hover {
     border: 1px solid #009de0;
 }

 .middledown_p {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 30px;
     text-align: center;
     padding-top: 110px;
     color: rgb(32, 33, 37);
     margin-bottom: 0;

 }

 .middledown_p2 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 30px;
     text-align: center;
     width: 62%;
     color: rgb(32, 33, 37);
     margin-left: 280px;
     margin-top: 0px;


 }
